LISTEN_ADDR=100.64.131.36:8081
MEDIA_SERVICE_TOKEN=replace-with-a-separate-token
MEDIA_OUTPUT_MODE=webdav

ARTIFACT_INPUT_ROOT=/home/dat/media-converter-webdav/staging
ARTIFACT_OUTPUT_ROOT=/home/dat/media-converter-webdav/mnt/media-converter-v2/artifacts
JOB_STATE_ROOT=/home/dat/media-converter-webdav/state
CACHE_ROOT=/home/dat/media-converter-webdav/cache
WORK_ROOT=/home/dat/media-converter-webdav/work

PUBLIC_BASE_URL=http://100.64.131.36:8081
WEBDAV_PUBLIC_BASE_URL=http://127.0.0.1:8080/media-converter-v2/artifacts
POLICY_VERSION=media-v1.1
